@import "../portfolio.css";

body {
  background-color: #d5ddf6;
  color:#344474;
}

header, nav > a, a, h1 a {
  color: #344474;
}

#cursor {
  background-color: #344474;
}

h2 {
  font-size: 36px;
}

main p {
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}

.link {
  font-size: 28px;
  font-weight: bold;
}